<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поиск дома для котиков</title>
    <link href="style/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
    <!-- Header -->
    <header class="bg-blue-600 text-white py-4">
        <div class="container mx-auto px-4">
            <h1 class="text-2xl font-bold">Поиск дома для котиков</h1>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto px-4 py-8">
        <h2 class="text-3xl font-bold mb-6">Доступные котики</h2>

        <div class="mt-5 mb-3 flex gap-4 text-xl">
            <a href="/filter?isHouse=0" class="block hover:underline">Ищут дом</a>
            <a href="/filter?isHouse=1" class="block hover:underline">Уже дома</a>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{#each data}}
                <a href="/cat?catID={{@index}}" class="block bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="{{this.image}}" alt="Котик {{@index}}" class="w-full h-48 object-cover">
                </a>
            {{/each}}
        </div>
    </main>
</body>
</html>